* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #3A65A4;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

header {
  display: grid;
  place-items: center;
  padding-bottom: 25px;
}

li, a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

li, a:hover {
  color: black;
}

img {
    display: block;
    width: 750px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

footer {
  display: grid;
  place-items: center;
  padding-top: 25px;
}
#aboutHeading {
  color: white;
  text-align: center;
  padding-top: 25px;
}

#aboutParagraph {
  color: #87A7D5;
  text-align: center;
  padding-top: 20px;
}

#contactHeading {
  color: white;
  text-align: center;
  padding-top: 25px;
}

#contactParagraph {
  color: #87A7D5;
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}

@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
  nav > .fa-bars {
    color: white;
  }
    img {
      display: block;
      width: 275px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
    footer > ul {
      display: none;
    }
}
