body {
  font-family: "Roboto", sans-serif;
  background-color: #3A65A4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

header {
  display: grid;
  place-items: center;
  padding-bottom: 25px;
}

/* styling home page content  */
.newsPicture {
  text-align: center;
}

#barclayHeadline {
  padding-top: 10px;
  bottom: 0px;
  left: 250px;
  text-align: center;
  opacity: 100%;
}

#katiesHeadline {
  padding-top: 10px;
  bottom: 0px;
  left: 250px;
  text-align: center;
  opacity: 100%;
}

/* styling home page images  */
img {
  display: inline;
  width: 600px;
  height: auto;
  text-align: center;
  border-radius: 8px;
}

/* styling Findcharity page footer with api attribution */
#apiAttribution {
  width: 150px;
  height: auto;
}

.charityNavigator {
  text-align: center;
}

#pageContainer {
  position: relative;
  min-height: 100vh;
}

/* setting footer height */
#contentWrap {
  padding-bottom: 2.5rem;
}

#attribution {
  text-align: center;
  color: white;
}

#footer {
  padding-top: 5 px;
  /* position: absolute;
  bottom: 0; */
  width: 100%;
  height: 2.5rem;
}

/* styling nav bar */
li, a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

li, a:hover {
  color: black;
}

/* footer {
  display: grid;
  place-items: center;
  padding-top: 25px;
} */

/* styling project text contents */
#aboutHeading {
  color: white;
  text-align: center;
  padding-top: 25px;
}

#aboutParagraph {
  color: #87A7D5;
  text-align: center;
  padding-top: 20px;
}

#contactHeading {
  color: white;
  text-align: center;
  padding-top: 25px;
}

#contactParagraph {
  color: #87A7D5;
  padding-top: 20px;
  text-align: center;
}

#charityParagraph {
  color: #87A7D5;
  padding-top: 20px;
  text-align: center;
}

.smallHeadings {
  color: white;
  text-align: center;
  padding-top: 25px;
}

/* styling Findcharity view search bar  */
.searchContainer {
  margin: auto;
  margin-top: 2.5%;
  position: relative;
  width: 325px;
  height: 42px;
  border: 4px solid black;
  padding: 0px 10px;
  border-radius: 50px;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

::placeholder {
  color: white;
}

.search {
  border: none;
  height: 100%;
  width: 100%;
  background-color: #3A65A4;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

.search:focus {
  outline: none;
}

.icons {
  font-size: 25;
  color: white;
}

/* styling charity search results table  */
#charitiesTable {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  min-width: 400px;
  border-radius: 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#charitiesTable thead tr {
  background-color: #03224F;
  color: white;
  text-align: left;
  font-weight: bold;
}

#charityLink {
  color: #3A65A4;
}

#charityLink:hover {
  color: #03224F;
}

#charitiesTable th {
  padding: 12px 15px;
}

#charitiesTable td {
  padding: 12px 15px;
  text-align: left;
}

#charitiesTable tbody tr {
  border-bottom: 1px solid black;
  color: black;
}

#charitiesTable tbody tr:nth-of-type(odd) {
  background-color: white;
}

#charitiesTable tbody tr:nth-child(even) {
  background-color: lightgray;
}

#charitiesTable tbody tr:last-of-type {
  border-bottom: 2px solid #03224F;
}

.resultsContainer {
  padding-top: 25px;
}

#noResults {
  text-align: center;
  padding-top: 25px;
}

.noResults {
  text-align: center;
  display: none;
}

/* hiding search results until search is performed  */
.hiddenTable {
  display: none;
  text-align: center;
}

/* styling Join new user form  */
fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 1px darkgray;
  border-radius: 6px;
  min-width: 200px;
}

legend {
  font-size: 1.25em;
  padding: 0 0.25em;
  color: white !important;
}

label {
  display: block;
  margin-top: 1em !important;
  padding-top: 1em;
  color: white;
  font-size: 1.5em;
}

label:first-of-type {
  margin-top: 0 !important;
}

input {
  padding: .5em;
  border: solid 1px black;
  background-color: gray;
}

input[type="email"],
input[type="text"] {
  width: 15em;
}

input[type="submit"] {
  padding: .5em 1em;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: .8em;
}

.inputs::placeholder {
  color: black;
}

/* styling Join page form for smaller screens  */
@media screen and (min-width: 430px) {
  legend {
    font-size: 1.75em;
  }

  fieldset {
    width: 40%;
    min-width: 320px;
    margin: auto;
  }
}

/* styling community table  */
#communityMembers {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  min-width: 400px;
  border-radius: 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#communityMembers thead tr {
  background-color: #03224F;
  color: white;
  text-align: left;
  font-weight: bold;
}

#communityMembers th,
#communityMembers td {
  padding: 12px 15px;
}

#communityMembers tbody tr {
  border-bottom: 1px solid black;
  background-color: white;
  color: black;
}

#communityMembers tbody tr:nth-of-type(even) {
  background-color: lightgray;
}

#communityMembers tbody tr:last-of-type {
  border-bottom: 2px solid #123b77;
}

/* styling project to be mobile friendly  */
@media (min-width: 600px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 768px) {
  img {
      display: block;
      width: 275px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
  nav > .fa-bars {
    color: white;
  }
    img {
      display: block;
      width: 275px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
    }
    footer > ul {
      display: none;
    }
}
